{% extends 'layout/master.twig' %}

{% block content %}
    <!-- Contact Form -->
    <div class="c-form-container section-container section-container-image-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 c-form section-description wow fadeIn">
                    <h1>Welcome to our <strong>HelpDesk</strong></h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">

                    <div class="c-form-top">
                        <div class="c-form-top-left">
                            <h3>Contact us</h3>
                            <p>Please enter the details of your request.<br />Our support staff will respond as soon as possible.</p>
                        </div>
                        <div class="c-form-top-right">
                            <div class="c-form-top-right-icon">
                                <i class="fa fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                    {{ res }}
                    <div class="c-form-bottom">
                        <form role="form" action="/" method="post">
                            <div class="form-group">
                                <label for="c-form-name">
                                    <span class="label-text">Name:</span>
                                    <span class="contact-error {% if status == 0 %}show{% endif %} }">{{ name }}</span>
                                </label>
                                <input type="text" name="contactName" placeholder="Your name..." class="c-form-name form-control" id="c-form-name">
                            </div>
                            <div class="form-group">
                                <label for="c-form-email">
                                    <span class="label-text">Email:</span>
                                    <span class="contact-error {% if status == 0 %}show{% endif %} }">{{ email }}</span>
                                </label>
                                <input type="text" name="contactEmail" placeholder="Your email address..." class="c-form-email form-control" id="c-form-email">
                            </div>
                            <div class="form-group">
                                <label for="c-form-subject">
                                    <span class="label-text">Subject:</span>
                                    <span class="contact-error {% if status == 0 %}show{% endif %} }">{{ subject }}</span>
                                </label>
                                <input type="text" name="subject" placeholder="Message subject..." class="c-form-subject form-control" id="c-form-subject">
                            </div>
                            <div class="form-group">
                                <label for="c-form-message">
                                    <span class="label-text">Description:</span>
                                    <span class="contact-error {% if status == 0 %}show{% endif %} }">{{ message }}</span>
                                </label>
                                <textarea name="message" placeholder="Message text..." class="c-form-message form-control" id="c-form-message"></textarea>
                            </div>
                            <button type="submit" class="btn">Send message</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}